.ct_g_new_div {
    border: thick solid #0000FF;
    padding: 10px;
    color: black;
    background: white;
    position: fixed;
    overflow: auto;
    z-index: 99990000000000;
    display: none;
    width: 350px;
    height: 95vh;
    top: 0px;
    right: 0px;
}
.ct_g_toggle_div {
    border: 1px solid green;
    background: white;
    position: fixed;
    z-index: 99990000000001;
    display: none;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 0px;
}
#ct_g_div_selected_text_list {
    width: 100%;
    border: 1px dotted green;
    margin-top: 5px;
    margin-bottom: 5px;
}
#ct_g_textArea {
    width: 100%;
    height: 50px;
}
#ct_g_ul_text_list {
    list-style: none;
    margin: 5px;
    padding-inline-start: 5px;
}
.ct_g_li_text_list {
    padding: 0px 3px;
    cursor: pointer;
}
.ct_g_li_text_list:hover {
    background-color:yellow;
}
#ct_g_i_check_all {
    vertical-align: middle;
}
.ct_g_div_align_center {
    text-align: center;
}
.ct_g_span_copied_text {
    color: darkgray;
}
