.notice {
    padding: 5px;
    border: thick solid #0000FF;
}
.list-toggle {
    padding: 5px;
    cursor: pointer;
}
.div-send-msg {
    text-align: center;
}
#sendMessage {
    height: 40px;
}
.check-delete {
    padding: 5px;
}
.text-list {
    width: 300px;
    border: 1px dotted green;
    margin-top: 5px;
    margin-bottom: 0px;
}
textarea {
    width: 300px;
    height: 20px;
}
ul {
    list-style: none;
    margin-left: 2px;
    padding-inline-start: 2px;
}
li {
    padding: 5px 0px;
    cursor: pointer;
}
li:hover {
    background-color:yellow;
}
.checkbox-delete {
    margin-right: 5px;
    vertical-align: middle;
}
#check_all {
    vertical-align: middle;
}
